{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["importAssertions", "typescript"],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"]
}
